{% extends "base.html" %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Личный кабинет</h1>

    <!-- Ссылка на редактирование профиля -->
    <div class="mb-4">
        <a href="{% url 'profile' %}" class="btn btn-primary">Редактировать профиль</a>
    </div>
    <!-- Ссылка на смену пароля -->
    <div class="mb-4">
        <a href="{% url 'password_change' %}" class="btn btn-primary">Сменить пароль</a>
    </div>

    <!-- Секция заявок на бесплатную оценку шансов -->
    <section id="assessments">
        <h2>Мои заявки на оценку шансов</h2>
        {% if assessments %}
            <ul>
                {% for assessment in assessments %}
                <li>
                    <strong>{{ assessment.created_at|date:"d-m-Y H:i" }}:</strong>
                    {{ assessment.travel_purpose }} ({{ assessment.country }}) 
                    <span class="badge badge-info">{{ assessment.status }}</span>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Заявок на бесплатную оценку шансов пока нет.</p>
        {% endif %}
    </section>

    <!-- Секция заказов -->
    <section id="orders">
        <h2>Мои заказы</h2>
        {% if orders %}
            <ul>
                {% for order in orders %}
                <li>
                    <strong>{{ order.order_date|date:"d-m-Y H:i" }}:</strong>
                    Заказ на {{ order.visa_type.name }} 
                    (Статус: <span class="badge badge-info">{{ order.status }}</span>)
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>У Вас пока нет заказов.</p>
        {% endif %}
    </section>

    <!-- Секция консультаций -->
    <section id="consultations">
        <h2>Мои консультации</h2>
        {% if consultations %}
            <ul>
                {% for consultation in consultations %}
                <li>
                    Консультация на тему: <a href="{% url 'consultation_detail' consultation.id %}">{{ consultation.topic }}</a> 
                    (Статус: <span class="badge badge-info">{{ consultation.get_status_display }}</span>)
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>У Вас пока нет запланированных консультаций.</p>
        {% endif %}
    </section>

</div>
{% endblock %}
