{% extends "base.html" %}
{% load socialaccount %}
{% block title %}
    Вход
{% endblock %}

{% block content %}
<main class="container">
    <h1>Вход в систему</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    <p>Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
    <!-- Кнопка для входа через Google -->
    <div class="social-login-buttons">  
        <a href="{% provider_login_url 'google' %}" class="btn social-btn google">
            <i class="fab fa-google"></i> Войти через Google
        </a>
    </div>
</main>
{% endblock %}

