:root {
    --primary-color: #007bff;
    --secondary-color: #333;
    --success-color: #28a745;
    --warning-color: #f39c12;
    --light-bg: #f4f7f6;
    --white: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Основные стили */
html, body {
    scroll-behavior: smooth; /* Скролл-поведение для якорных ссылок */
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', Arial, sans-serif;
    background-color: var(--light-bg);
}


/* Контент */
main.container {
    flex: 1; /* Растягиваем контент по высоте */
    margin-top: 100px;
    padding-bottom: 30px;
}

.content {
    flex: 1;
}

/* Футер */
.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #e5e5e5;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Заголовки */
h1, h2, h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Секции */
section {
    background-color: var(--white);
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px var(--shadow-color);
}

section.with-extra-padding {
    padding-bottom: 30px; /* Увеличиваем отступ только для нужных секций */
}

/* Параграфы */
section p {
    margin: 5px 0;
}

/* Контейнер */
.container {
    padding: 0 2rem;
    max-width: 100vw;
    box-sizing: border-box;
}

/* Стиль для хедера */
.custom-navbar {
    position: fixed; /* Фиксируем хедер сверху */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Хедер всегда будет сверху */
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    backdrop-filter: blur(5px); /* Размытие заднего фона */
    transition: background-color 0.3s ease-in-out; /* Плавное изменение цвета */
    padding: 20px 30px;
    box-shadow: 0 2px 4px var(--shadow-color); /* Лёгкая тень */
}

.custom-navbar.scrolled {
    background-color: rgba(255, 255, 255, 1); /* Полностью непрозрачный фон при прокрутке */
}

/* Центрируем меню в блоке */
.navbar-nav {
    display: flex;
    justify-content: center; /* Центрируем элементы внутри navbar-nav */
}

/* Стили ссылок в хедере */
.navbar-nav .nav-link {
    color: var(--secondary-color); /* Цвет текста ссылок */
    transition: color 0.3s ease-in-out; /* Плавное изменение цвета */
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color); /* Цвет ссылок при наведении */
}


/* Выпадающее меню */
.nav-item.dropdown .dropdown-menu {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px 0;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: var(--secondary-color);
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0; /* Цвет при наведении */
    color: var(--primary-color);
}


/* Стили для форм */
input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

button[type="submit"] {
    background-color: var(--success-color); /* Зеленый для кнопки отправки */
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Стили для кнопки-гамбургера */
.navbar-toggler {
    display: none;
    border: none;
    padding: 10px;
    background: transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 991.98px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        padding: 1rem;
        display: none;
    }

    .navbar-collapse.show {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        width: 100%;
        text-align: center;
    }
}

/* Адаптивные стили */
@media (max-width: 768px) {
    /* Меняем отступы и размеры шрифтов для меньших экранов */
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }

    .container {
        padding: 10px;
    }
    
    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .chat-window {
        width: 90%; /* Чат займет почти всю ширину экрана на мобильных устройствах */
        height: 50%; /* Станет ниже на небольших экранах */
    }

    .banner {
        height: 400px;
    }

    .visa-card .card-title {
        font-size: 1.2rem;
    }
    
    .visa-card .btn {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .banner h3 {
        font-size: 1rem;
    }

}

@media (max-width: 576px) {
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 18px;
    }

    .container {
        padding: 5px;
    }

    /* Адаптация выпадающего меню */
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        text-align: left;
    }
}


/* Кнопка чата */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.chat-button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Окно чата */
.chat-window {
    display: flex;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    flex-direction: column;
    overflow: hidden;
}

/* Заголовок чата */
.chat-header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Кнопка закрытия чата */
.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Лог сообщений */
.chat-log {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 60px; /* Space for input container */
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #f1f1f1;
}

/* Стили для webkit браузеров (Chrome, Safari) */
.chat-log::-webkit-scrollbar {
    width: 8px;
}

.chat-log::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.chat-log::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

.chat-log::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

/* Сообщения чата */
.chat-log p {
    margin: 0;
    padding: 5px;
    border-radius: 5px;
}

/* Сообщение пользователя */
.chat-log .user-message {
    background-color: var(--primary-color);
    color: var(--white);
    align-self: flex-end;
    margin-left: 20%;
}

/* Сообщение поддержки */
.chat-log .support-message {
    background-color: #f1f1f1;
    color: var(--secondary-color);
    align-self: flex-start;
    margin-right: 20%;
}

/* Поле для ввода сообщения */
.chat-input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ccc;
    z-index: 2;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
    color: var(--white);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* Стиль кнопки заказа консультации */
.btn-consultation {
    background-color: var(--warning-color);
    color: var(--white);
    padding: 7px 15px;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    border: none;
}

.btn-consultation:hover {
    background-color: #e67e22; /* Более темный оттенок при наведении */
}

.banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -100px; /* Компенсируем отступ для баннеров */
}

.banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.usa-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-text {
    position: absolute;
    right: 10%;
    top: 30%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.banner-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.banner-text h3 {
    font-size: 1.8em;
    font-weight: 400;
}

.logo {
    height: 60px; /* Размер логотипа */
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Стили для карточек */
.visa-card {
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Вертикальная структура */
    justify-content: space-between; /* Равномерное распределение */
    padding: 20px;
    text-align: center;
    overflow: hidden; /* Предотвращение выхода содержимого за границы */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 380px; /* Минимальная высота карточек */
}

.visa-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Заголовок карточки */
.visa-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 45px; /* Гарантированная высота для сохранения структуры */
}

/* Основной текст (описание) */
.visa-card .card-description {
    font-size: 1rem;
    margin-bottom: 15px;
    color: var(--secondary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 60px; /* Фиксированная высота для описания */
}

/* Консульский сбор */
.visa-card .consular-fee {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

/* Кнопка */
.visa-card .btn {
    margin-top: auto; /* Прижимаем кнопку к нижнему краю */
    align-self: center; /* Центруем кнопку */
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 80%; /* Ширина кнопки адаптивная */
    max-width: 200px;
    text-align: center;
    white-space: nowrap; /* Отключаем перенос текста */
    overflow: hidden; /* Текст не выходит за границы */
    text-overflow: ellipsis; /* Добавляем троеточие, если текст не помещается */
}

/* Эффект при наведении на кнопку */
.visa-card .btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


/* Адаптивные стили для карточек */
@media (max-width: 991px) {
    .visa-card .btn {
        padding: 10px 15px;
        font-size: 0.9rem;
        width: 100%; /* Делаем ширину кнопки адаптивной */
    }
}

@media (max-width: 768px) {
    .visa-card {
        padding: 15px;
        height: auto; /* Автоматическая высота */
    }

    .visa-card .card-title {
        font-size: 1rem;
    }

    .visa-card .card-description {
        font-size: 0.9rem;
        height: auto; /* Автоматическая высота */
    }

    .visa-card .btn {
        padding: 8px 12px;
        font-size: 0.9rem;
        max-width: 200px;
    }
}

@media (max-width: 576px) {
    .visa-card {
        min-height: 300px; /* Минимальная высота */
    }

    .visa-card .card-title {
        font-size: 0.9rem;
    }

    .visa-card .card-description {
        font-size: 0.8rem;
    }

    .visa-card .btn {
        padding: 6px 10px;
        font-size: 0.8rem;
        max-width: 180px;
    }
}

/* Часто задаемые вопросы */
.faq-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.faq-question:hover {
    color: #007bff;
}

.faq-icon {
    font-size: 24px;
    transition: transform 0.3s;
}

.faq-answer {
    display: none;
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.faq-item.open .faq-answer {
    display: block;
}

.faq-item.open .faq-icon {
    transform: rotate(45deg); /* "+" меняется на "×" */
}

/* Общие стили для ошибок */
form .errorlist {
    color: red; /* Красный текст для ошибок */
    font-size: 14px; /* Размер текста ошибок */
    margin-top: 5px; /* Отступ сверху */
    list-style-type: none; /* Убираем маркеры списка */
    padding-left: 0; /* Убираем отступы списка */
}

form .errorlist li {
    margin-bottom: 5px; /* Расстояние между строками ошибок */
}


/* Стили для кнопок социальных сетей */
.social-login-buttons {
    text-align: center;
    margin-top: 20px;
}

.social-login-buttons .social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-login-buttons .social-btn i {
    margin-right: 10px;
    font-size: 20px;
}

/* Стиль для кнопки Google */
.social-login-buttons .google {
    background-color: #db4437;
    border: none;
}

.social-login-buttons .google:hover {
    background-color: #c33d2e;
    transform: translateY(-2px);
}

.social-login-buttons .google:active {
    background-color: #a5281f;
    transform: translateY(1px);
}

/* Стиль для кнопки Google */
.btn-google {
    background-color: #db4437; /* Цвет Google */
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-google:hover {
    background-color: #c33d2e; /* Более тёмный цвет на hover */
    color: white;
    text-decoration: none;
}
