{% extends "base.html" %}

{% block title %}Оплата консультации{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Оплата консультации</h1>
    <p>Вы собираетесь оплатить консультацию на тему "{{ consultation.topic }}" на сумму {{ consultation.price }} рублей.</p>
    <p>Дата: {{ consultation.date|date:"d-m-Y" }}<br>
       Время: {{ consultation.time|time:"H:i" }}</p>
    <p>Стоимость: {{ consultation.price }} руб.</p>

    <!-- Форма для оплаты -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Оплатить консультацию</button>
    </form>
</div>
{% endblock %}
