{% extends "base.html" %}

{% block title %}
    Детали тикета
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ ticket.subject }} ({{ ticket.get_status_display }})</h1>
    
    <p>{{ ticket.description }}</p>

    <hr>

    <h3>Комментарии</h3>
    <ul>
        {% for comment in comments %}
        <li>
            <strong>{{ comment.user.username }}:</strong>
            <p>{{ comment.comment }}</p>
            <small>{{ comment.created_at|date:"d-m-Y H:i" }}</small>
        </li>
        {% endfor %}
    </ul>

    <hr>

    <h3>Добавить комментарий</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
