{% extends "base.html" %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>О нас</h1>
    <p>Здесь будет информация о вашей компании, визовом центре и предоставляемых услугах.</p>

    <!-- Миссия компании -->
    <section>
        <h2>Наша миссия</h2>
        <p>Наша миссия — помогать людям получать визы и делать процесс максимально простым и быстрым.</p>
    </section>

    <!-- Команда -->
    <section>
        <h2>Наша команда</h2>
        <p>Мы — команда профессионалов с многолетним опытом работы в визовом бизнесе.</p>
    </section>

    <!-- История компании -->
    <section>
        <h2>История компании</h2>
        <p>Наша компания была основана в 2020 году, и с тех пор мы помогли тысячам людей получить визы в разные страны.</p>
    </section>
</div>
{% endblock %}
